.customNavbar {
  background-color: #0b0c10;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #1f2833;
}

.logoTitle {
  font-size: 1.25rem;
  line-height: 1;
  color: #ff6900;
}

.logoSubtitle {
  font-size: 0.75rem;
  margin-top: 2px;
  color: #ff6900;
}

.navLinksPill {
  display: flex;
  background-color: #1f2833;
  border-radius: 50px;
  padding: 5px;
}

.customNavLink {
  color: #c5c6c7 !important;
  padding: 8px 20px !important;
  border-radius: 50px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}
.customNavLink {
  color: #a1a1aa;
  transition: all 0.3s ease;
}

.active {
  color: #ffffff !important;
  background-color: #ff6900;
  border-radius: 20px;
}

.customNavLink:global(.active) {
  background-color: #fc4a1a;
  color: white !important;
  font-weight: bold;
}

.customNavLink:hover:not(:global(.active)) {
  color: white !important;
}

.searchIcon {
  color: #c5c6c7;
  transition: color 0.3s ease;
}

.searchIcon:hover {
  color: #fc4a1a;
}

.startReadingBtn {
  background-color: #fc4a1a;
  border-color: #fc4a1a;
  padding: 8px 20px;
  font-size: 0.9rem;
}

.startReadingBtn:hover {
  background-color: #ec400f;
  border-color: #ec400f;
}

@media (max-width: 991px) {
  .navLinksPill {
    flex-direction: column;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  .leftSideItems {
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }
}
.logo {
  width: 50px;
  height: 50px;
}
