.customNavbar {
  background-color: #0b0c10; 
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #1f2833; 
}

/* تنسيق اللوجو */
.logoTitle {
  font-size: 1.25rem;
  line-height: 1;
  color: #FF6900;
}

.logoSubtitle {
  font-size: 0.75rem;
  margin-top: 2px;
    color: #FF6900;

}

/* تنسيق "كبسولة" الروابط في المنتصف */
.navLinksPill {
  display: flex;
  background-color: #1f2833; /* لون خلفية الكبسولة الرمادي الداكن */
  border-radius: 50px; /* جعلها كبسولة */
  padding: 5px; /* مسافة داخلية */
}

/* تنسيق الروابط الفردية */
.customNavLink {
  color: #c5c6c7 !important; /* لون النص الرمادي الفاتح */
  padding: 8px 20px !important; /* مسافة داخلية أفقية أكبر */
  border-radius: 50px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}
.customNavLink {
  color: #a1a1aa;
  transition: all 0.3s ease;
}

/* الكلاس النشط عند اختيار الصفحة */
.active {
  color: #ffffff !important;
  background-color: #FF6900;
  border-radius: 20px;
}

/* تنسيق الرابط النشط (Active) - الخلفية البرتقالية */
.customNavLink:global(.active) {
  background-color: #fc4a1a; /* لون برتقالي أساسي */
  color: white !important;
  font-weight: bold;
}

/* تنسيق الـ Hover للروابط */
.customNavLink:hover:not(:global(.active)) {
  color: white !important;
}

/* تنسيق عناصر جهة اليسار */
.searchIcon {
  color: #c5c6c7;
  transition: color 0.3s ease;
}

.searchIcon:hover {
  color: #fc4a1a;
}

.startReadingBtn {
  background-color: #fc4a1a; /* لون برتقالي للزر */
  border-color: #fc4a1a;
  padding: 8px 20px;
  font-size: 0.9rem;
}

.startReadingBtn:hover {
  background-color: #ec400f;
  border-color: #ec400f;
}

/* تنسيق خاص للهامبرجر (شاشات الموبايل) */
@media (max-width: 991px) {
  .navLinksPill {
    flex-direction: column;
    border-radius: 10px;
    background-color: transparent; /* إزالة الكبسولة في القائمة المنسدلة */
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  
  .leftSideItems {
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }
}
.logo{
  width: 50px;
  height: 50px;
}